#memory mapped pcie vitis files to ignore
ZU19_PCIe_MemoryMapped/Vitis2023.1/.metadata/
ZU19_PCIe_MemoryMapped/Vitis2023.1/.analytics
ZU19_PCIe_MemoryMapped/Vitis2023.1/RemoteSystemsTempFiles/
ZU19_PCIe_MemoryMapped/Vitis2023.1/QC_platform/
ZU19_PCIe_MemoryMapped/Vitis2023.1/test_gty_uart_qc_system/
ZU19_PCIe_MemoryMapped/Vitis2023.1/IDE.log
ZU19_PCIe_MemoryMapped/Vitis2023.1/IDE

#memory mapped pcie vivado files to ignore
ZU19_PCIe_MemoryMapped/Vivado2023.1/UARTECHO.runs/
ZU19_PCIe_MemoryMapped/Vivado2023.1/UARTECHO.cache/
ZU19_PCIe_MemoryMapped/Vivado2023.1/UARTECHO.gen/
ZU19_PCIe_MemoryMapped/Vivado2023.1/UARTECHO.hw/
ZU19_PCIe_MemoryMapped/Vivado2023.1/UARTECHO.ip_user_files/
ZU19_PCIe_MemoryMapped/Vivado2023.1/UARTECHO.srcs/utils_1/
ZU19_PCIe_MemoryMapped/Vivado2023.1/.Xil/

#axi stream pcie vitis files to ignore
ZU19_PCIe_AXI_STREAM/Vitis2023.1/.metadata/
ZU19_PCIe_AXI_STREAM/Vitis2023.1/.analytics
ZU19_PCIe_AXI_STREAM/Vitis2023.1/RemoteSystemsTempFiles/
ZU19_PCIe_AXI_STREAM/Vitis2023.1/QC_platform/
ZU19_PCIe_AXI_STREAM/Vitis2023.1/test_gty_uart_qc_system/
ZU19_PCIe_AXI_STREAM/Vitis2023.1/IDE.log
ZU19_PCIe_AXI_STREAM/Vitis2023.1/IDE

#axi stream pcie vivado files to ignore
ZU19_PCIe_AXI_STREAM/Vivado2023.1/UARTECHO.runs/
ZU19_PCIe_AXI_STREAM/Vivado2023.1/UARTECHO.cache/
ZU19_PCIe_AXI_STREAM/Vivado2023.1/UARTECHO.gen/
ZU19_PCIe_AXI_STREAM/Vivado2023.1/UARTECHO.hw/
ZU19_PCIe_AXI_STREAM/Vivado2023.1/UARTECHO.ip_user_files/
ZU19_PCIe_AXI_STREAM/Vivado2023.1/UARTECHO.srcs/utils_1/
ZU19_PCIe_AXI_STREAM/Vivado2023.1/.Xil/